{% extends 'admins/base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block sec %}
        <section class="grid">
            <article
                    style="background-color:#020318; height: fit-content!important; padding-bottom: 10px; padding-top: 10px; padding-left: 20%!important;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="neon__card_for_month" style="margin: 5px">
                                <a href="" style="text-decoration: none; color: white"><img
                                        src="{{ profile.profile_picture.url }}" width="250px" height="340px"></a>
                            </div>
                        </div>

                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="neon__card_for_month" style="margin: 5px">
                                        <h1 class="neon__title"><b> {{ date }} </b></h1>
                                    </div>
                                </div>
                            </div>
                            <div class="" style="margin: 5px; color: white;">
                                <h1 class="neon__title_for_routine">
                                    <b>{{ profile.user.first_name }} {{ profile.user.last_name }} </b></h1>
                                <hr>
                                <hr>
                                <div class="row">
                                    <h1 style="font-size: 14px; float: left!important;">
                                        Address: {{ profile.address }}</h1>
                                </div>
                                <div class="row">
                                    <h1 style="font-size: 14px; float: left!important;">
                                        Gender: {{ profile.gender }}</h1>
                                </div>
                                <hr>
                                <div class="row">
                                    <h1 style="font-size: 14px; float: left!important;">
                                        Contact: {{ profile.phone_number }}</h1>
                                </div>
                                <div class="row">
                                    <h1 style="font-size: 14px; float: left!important;">
                                        Email: {{ profile.user.email }}</h1>
                                </div>
                                <hr>
                                <hr>
                                <div class="row">
                                    <h1 style="font-size: 14px; float: left!important;">Working
                                        period: {{ profile.joining_date }} - Present</h1>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </article>
        </section>
{% endblock %}

{% block body %}
    <article style="background-color:#020318; height: fit-content!important;">
        <div class="container">
            <div class="row" style="width: 100%">
                <div class="col-lg-2">
                    <div class="neon__card" style="margin: 20px">
                        <h1 class="neon__title">Teachers</h1>
                        <p>{{ teacher }}</p>
                        <a href="{% url 'App_login:teacher-signup' %}" class="neon__button">Add Teacher

                        </a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="neon__card" style="margin: 20px">
                        <h1 class="neon__title">Students</h1>
                        <p>{{ student }}</p>
                        <a href="{% url 'App_login:student-signup' %}" class="neon__button">Add Student
                        </a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="neon__card" style="margin: 20px">
                        <h1 class="neon__title">Parents</h1>
                        <p>{{ parent }}</p>
                        <a href="{% url 'App_login:parent-signup' %}" class="neon__button">Add Parent
                        </a>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="neon__card" style="margin: 20px">
                        <h1 class="neon__title">Accountant</h1>
                        <p>{{ accountant }}</p>
                        <a href="{% url 'App_login:accountant-signup' %}" class="neon__button">Add Accountant
                        </a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="neon__card" style="margin: 20px">
                        <h1 class="neon__title">Librarians</h1>
                        <p>{{ librarian }}</p>
                        <a href="{% url 'App_login:librarian-signup' %}" class="neon__button">Add Librarian
                        </a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="neon__card" style="margin: 20px">
                        <h1 class="neon__title">N.T. Staff</h1>
                        <p>{{ staff }}</p>
                        <a href="{% url 'App_login:staff-signup' %}" class="neon__button">Add Staff
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article style="background-color:#020318; height: fit-content!important; padding-bottom: 10px; padding-top: 10px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="neon__card_for_month" style="margin: 5px">
                        <a href="{% url 'App_main:admin-new-routine' %}" style="text-decoration: none; color: white"><h1
                                class="neon__title_for_routine"><b>Add New Routine</b></h1></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="neon__card_for_month" style="margin: 5px">
                        <a href="{% url 'App_main:admins-routine' %}" style="text-decoration: none; color: white"><h1
                                class="neon__title_for_routine"><b>All Routines</b></h1></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="neon__card_for_month" style="margin: 5px">
                        <a href="{% url 'App_main:admin-new-notice' %}" style="text-decoration: none; color: white"><h1
                                class="neon__title_for_routine"><b>Publish a Notice</b></h1></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="neon__card_for_month" style="margin: 5px">
                        <a href="{% url 'App_main:admin-all-notices' %}" style="text-decoration: none; color: white"><h1
                                class="neon__title_for_routine"><b>All Announcements</b></h1></a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article
            style="background-color:#020318; height: fit-content!important; padding-bottom: 10px; padding-top: 10px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="neon__card_for_month" style="margin: 5px">
                        <h1 class="neon__title"><b>Employee's - Salary</b></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="neon__card_for_month" style="margin: 5px">
                        <h3 class="neon__title_for_date">{{ month }}'s Payable: {{ salary_to_pay }} BDT</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="neon__card_for_month" style="margin: 5px">
                        <h3 class="neon__title_for_date">Paid Amount: {{ paid_salary }} BDT</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="neon__card_for_month" style="margin: 5px">
                        <h3 class="neon__title_for_date">Pending Amount: {{ to_pay }} BDT</h3>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article
            style="background-color:#020318; height: fit-content!important; padding-bottom: 10px; padding-top: 10px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="neon__card_for_month" style="margin: 5px">
                        <h1 class="neon__title"><b>---:---:---:---: || Attendance || :---:---:---:---</b></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="neon__card_for_month" style="margin: 5px">
                        <a href="{% url 'App_main:admin-batch-based-attendance' %}" style="color: white"><h3
                                class="neon__title_for_date">Attendance Display</h3></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="neon__card_for_month" style="margin: 5px">
                        <a href="{% url 'App_main:admin-student-attendance-record' %}" style="color: white"><h3
                                class="neon__title_for_date">Track Attendance</h3></a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article
            style="background-color:#020318; height: fit-content!important; padding-bottom: 10px; padding-top: 10px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="neon__card_for_month" style="margin: 5px">
                        <h1 class="neon__title"><b>---:---:--- Tests and Fees ---:---:---</b></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="neon__card_for_month" style="margin: 5px">
                        <a href="{% url 'App_main:admin-merit-list' %}" style="color: white"><h3 class="neon__title_for_date">
                            Test Results</h3></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="neon__card_for_month" style="margin: 5px">
                        <a href="{% url 'App_main:admin-student-batch-dept' %}" style="color: white"><h3 class="neon__title_for_date">
                            Student Fees</h3></a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article
            style="background-color:#020318; height: fit-content!important; padding-bottom: 10px; padding-top: 10px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="neon__card_for_month" style="margin: 5px">
                        <a href="" style="text-decoration: none; color: white"><h1 class="neon__title_for_routine"><b>All
                            Students - ({{ all_students }})</b></h1></a>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for batch in batch_list %}

                    <div class="col-lg-4">
                        <div class="neon__card_for_month" style="margin: 5px">
                            <h1 class="neon__title_for_routine"><b>Batch-{{ batch|join:", " }}</b></h1>
                            <hr>
                            <hr>
                            <div class="row">
                                <div class="col-lg-4"><a style="color: white"
                                                         href="{% url 'App_main:admin-dept-students' pk=batch|join:',' dept='cse' %}"
                                                         class="neon__button"><h1 class="neon__title_for_date">CSE</h1>
                                </a>
                                </div>
                                <div class="col-lg-4"><a style="color: white"
                                                         href="{% url 'App_main:admin-dept-students' pk=batch|join:',' dept='bba' %}"
                                                         class="neon__button"><h1 class="neon__title_for_date">BBA</h1>
                                </a>
                                </div>
                                <div class="col-lg-4"><a style="color: white"
                                                         href="{% url 'App_main:admin-dept-students' pk=batch|join:',' dept='bthm' %}"
                                                         class="neon__button"><h1 class="neon__title_for_date">BTHM</h1>
                                </a></div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>

        </div>
    </article>
{% endblock %}