{% extends 'accountants/base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block title %}
    Salary Distribution
{% endblock %}

{% block style %}
    <style>
        .table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 5px;
        }

        .table td,
        .table th {
            padding: 12px 15px;
        {#border: 1px solid #ddd;#} text-align: center;
            font-size: 16px;
        }

        .table th {
            color: #ffffff;
        }

        .table tbody tr {
            color: white;
        }

        /*responsive*/

        @media (max-width: 500px) {
            .table thead {
                display: none;
            }

            .table,
            .table tbody,
            .table tr,
            .table td {
                display: block;
                width: 100%;
            }

            .table tr {
                margin-bottom: 15px;
            }

            .table td {
                padding-left: 50%;
                text-align: left;
                position: relative;
            }

            .table td a {
                margin-left: auto;
                text-align: left;
                position: relative;
            }

            .table td::before {
                content: attr(data-label);
                position: absolute;
                left: 0;
                width: 50%;
                padding-left: 15px;
                font-size: 15px;
                font-weight: bold;
                text-align: left;
            }
        }

    </style>
{% endblock %}
{% block body %}
    <article style="background-color:#020318; height: fit-content!important; padding-bottom: 10px; padding-top: 10px">
        {% for m in m_y %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="neon__card_for_month" style="margin: 5px">
                            <h1 class="neon__title_for_routine"><a
                                    style="text-decoration: none; color: white"><b>{{ m }}</b></a>
                            </h1>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin: 1%">
                    <div class="neon__card">

                        <div class="container">
                            <table class="table" style="color: white;  height: fit-content;">
                                <h2 class="neon__title"
                                    style="text-align: center; color: white;margin-top: 5px;">Admins</h2>
                                <hr style="color: white">
                                <hr style="color: white">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Name</th>
                                    <th>Salary</th>
                                    <th>Status</th>
                                    <th>Grant</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for salary in salary_payment %}
                                    {% if salary.salary.position == 'Admin' %}
                                        <tr>
                                            <td data-label="Name">{{ salary.salary.user.first_name }} {{ salary.salary.user.last_name }}</td>
                                            <td data-label="Salary">{{ salary.salary.salary }} BDT</td>
                                            {% if salary.status %}
                                                <td data-label="Status">Paid</td>
                                            {% else %}
                                                <td data-label="Status">Pending</td>
                                            {% endif %}
                                            {% if salary.status %}
                                                <td data-label="Grant">Granted</td>
                                            {% else %}
                                                <form method="post"
                                                  action="{% url 'App_main:give-salary' pk=salary.id %}" style="margin-left: 100px!important;">
                                                {% csrf_token %}
                                                <td data-label="Grant">
                                                    <button type="submit" value="Submit" class="neon__button"
                                                            style="color: white; height: 37px!important; width: 100%!important; padding-top: 0!important;">
                                                        <i class="fa fa-check" style="font-size:30px; color: white"></i>
                                                    </button>
                                                </td>
                                            </form>
                                            {% endif %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
                <div class="row" style="margin: 1%">
                    <div class="neon__card">

                        <div class="container">
                            <table class="table" style="color: white;  height: fit-content;">
                                <h2 class="neon__title"
                                    style="text-align: center; color: white;margin-top: 5px;">Teachers</h2>
                                <hr style="color: white">
                                <hr style="color: white">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Name</th>
                                    <th>Salary</th>
                                    <th>Status</th>
                                    <th>Grant</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for salary in salary_payment %}
                                    {% if salary.salary.position == 'Teacher' %}
                                        <tr>
                                            <td data-label="Name">{{ salary.salary.user.first_name }} {{ salary.salary.user.last_name }}</td>
                                            <td data-label="Salary">{{ salary.salary.salary }} BDT</td>
                                            {% if salary.status %}
                                                <td data-label="Status">Paid</td>
                                            {% else %}
                                                <td data-label="Status">Pending</td>
                                            {% endif %}
                                            {% if salary.status %}
                                                <td data-label="Grant">Granted</td>
                                            {% else %}
                                                <form method="post"
                                                  action="{% url 'App_main:give-salary' pk=salary.id %}" style="margin-left: 100px!important;">
                                                {% csrf_token %}
                                                <td data-label="Grant">
                                                    <button type="submit" value="Submit" class="neon__button"
                                                            style="color: white; height: 37px!important; width: 100%!important; padding-top: 0!important;">
                                                        <i class="fa fa-check" style="font-size:30px; color: white"></i>
                                                    </button>
                                                </td>
                                            </form>
                                            {% endif %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
                <div class="row" style="margin: 1%">
                    <div class="neon__card">

                        <div class="container">
                            <table class="table" style="color: white;  height: fit-content;">
                                <h2 class="neon__title"
                                    style="text-align: center; color: white;margin-top: 5px;">Accountants</h2>
                                <hr style="color: white">
                                <hr style="color: white">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Name</th>
                                    <th>Salary</th>
                                    <th>Status</th>
                                    <th>Grant</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for salary in salary_payment %}
                                    {% if salary.salary.position == 'Accountant' %}
                                        <tr>
                                            <td data-label="Name">{{ salary.salary.user.first_name }} {{ salary.salary.user.last_name }}</td>
                                            <td data-label="Salary">{{ salary.salary.salary }} BDT</td>
                                            {% if salary.status %}
                                                <td data-label="Status">Paid</td>
                                            {% else %}
                                                <td data-label="Status">Pending</td>
                                            {% endif %}
                                            {% if salary.status %}
                                                <td data-label="Grant">Granted</td>
                                            {% else %}
                                                <form method="post"
                                                  action="{% url 'App_main:give-salary' pk=salary.id %}" style="margin-left: 100px!important;">
                                                {% csrf_token %}
                                                <td data-label="Grant">
                                                    <button type="submit" value="Submit" class="neon__button"
                                                            style="color: white; height: 37px!important; width: 100%!important; padding-top: 0!important;">
                                                        <i class="fa fa-check" style="font-size:30px; color: white"></i>
                                                    </button>
                                                </td>
                                            </form>
                                            {% endif %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
                <div class="row" style="margin: 1%">
                    <div class="neon__card">

                        <div class="container">
                            <table class="table" style="color: white;  height: fit-content;">
                                <h2 class="neon__title"
                                    style="text-align: center; color: white;margin-top: 5px;">Librarians</h2>
                                <hr style="color: white">
                                <hr style="color: white">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Name</th>
                                    <th>Salary</th>
                                    <th>Status</th>
                                    <th>Grant</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for salary in salary_payment %}
                                    {% if salary.salary.position == 'Librarian' %}
                                        <tr>
                                            <td data-label="Name">{{ salary.salary.user.first_name }} {{ salary.salary.user.last_name }}</td>
                                            <td data-label="Salary">{{ salary.salary.salary }} BDT</td>
                                            {% if salary.status %}
                                                <td data-label="Status">Paid</td>
                                            {% else %}
                                                <td data-label="Status">Pending</td>
                                            {% endif %}
                                            {% if salary.status %}
                                                <td data-label="Grant">Granted</td>
                                            {% else %}
                                                <form method="post"
                                                  action="{% url 'App_main:give-salary' pk=salary.id %}" style="margin-left: 100px!important;">
                                                {% csrf_token %}
                                                <td data-label="Grant">
                                                    <button type="submit" value="Submit" class="neon__button"
                                                            style="color: white; height: 37px!important; width: 100%!important; padding-top: 0!important;">
                                                        <i class="fa fa-check" style="font-size:30px; color: white"></i>
                                                    </button>
                                                </td>
                                            </form>
                                            {% endif %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
                <div class="row" style="margin: 1%">
                    <div class="neon__card">

                        <div class="container">
                            <table class="table" style="color: white;  height: fit-content;">
                                <h2 class="neon__title"
                                    style="text-align: center; color: white;margin-top: 5px;">Staff</h2>
                                <hr style="color: white">
                                <hr style="color: white">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Name</th>
                                    <th>Salary</th>
                                    <th>Status</th>
                                    <th>Grant</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for salary in salary_payment %}
                                    {% if salary.salary.position == 'Staff' %}
                                        <tr>
                                            <td data-label="Name">{{ salary.salary.user.first_name }} {{ salary.salary.user.last_name }}</td>
                                            <td data-label="Salary">{{ salary.salary.salary }} BDT</td>
                                            {% if salary.status %}
                                                <td data-label="Status">Paid</td>
                                            {% else %}
                                                <td data-label="Status">Pending</td>
                                            {% endif %}
                                            {% if salary.status %}
                                                <td data-label="Grant">Granted</td>
                                            {% else %}
                                                <form method="post"
                                                  action="{% url 'App_main:give-salary' pk=salary.id %}" style="margin-left: 100px!important;">
                                                {% csrf_token %}
                                                <td data-label="Grant">
                                                    <button type="submit" value="Submit" class="neon__button"
                                                            style="color: white; height: 37px!important; width: 100%!important; padding-top: 0!important;">
                                                        <i class="fa fa-check" style="font-size:30px; color: white"></i>
                                                    </button>
                                                </td>
                                            </form>
                                            {% endif %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>


            </div>
        {% endfor %}
    </article>


{% endblock %}