{% extends 'librarians/base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block title %}
    Book Categories
{% endblock %}

{% block style %}
    <style>
        .table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 5px;
        }

        .table td,
        .table th {
            padding: 12px 15px;
        {#border: 1px solid #ddd;#} text-align: center;
            font-size: 16px;
        }

        .table th {
            color: #ffffff;
        }

        .table tbody tr {
            color: white;
        }

        /*responsive*/

        @media (max-width: 500px) {
            .table thead {
                display: none;
            }

            .table,
            .table tbody,
            .table tr,
            .table td {
                display: block;
                width: 100%;
            }

            .table tr {
                margin-bottom: 15px;
            }

            .table td {
                padding-left: 50%;
                text-align: left;
                position: relative;
            }

            .table td a {
                margin-left: auto;
                text-align: left;
                position: relative;
            }

            .table td::before {
                content: attr(data-label);
                position: absolute;
                left: 0;
                width: 50%;
                padding-left: 15px;
                font-size: 15px;
                font-weight: bold;
                text-align: left;
            }

        }

    </style>
{% endblock %}

{% block sec %}
    <article style="background-color:#020318; height: fit-content!important; padding-bottom: 10px; padding-top: 10px">
        <div class="container">
            <div class="row" style="margin: 1%">
                <div class="neon__card" style="margin-left: 10%">
                    <h1 class="neon__title">Add new Location</h1>
                    <hr>
                    <hr>
                    <div class="container">
                        <div class="container row">
                            <form method="post" name="new_cat">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div class="form-group" style="margin-top: 15px;">
                                    <button type="submit" value="Submit" class="neon__button"
                                            style="color: white; height: 37px!important; width: 100%!important; padding-top: 0!important;">
                                        <i class="fa fa-check" style="font-size:30px; color: white"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

{% endblock %}

{% block body %}
    <article style="background-color:#020318; height: fit-content!important; padding-bottom: 10px; padding-top: 10px">
        <div class="container">
            <div class="row" style="margin: 1%">
                <div class="neon__card">
                    <div class="container">
                        <table class="table" style="color: white;  height: fit-content;">
                            <h2 class="neon__title"
                                style="text-align: center; color: white;margin-top: 5px;">All Locations</h2>
                            <hr style="color: white">
                            <hr style="color: white">
                            <thead class="thead-dark">
                            <tr>
                                <th>Index</th>
                                <th>Shelf</th>
                                <th>Row</th>
                                <th>Quantity</th>
                                <th>Remove</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for cat, count in cat_count %}
                                <tr>
                                    <td data-label="Index">{{ forloop.counter }}.</td>
                                    <td data-label="Shelf">{{ cat.self_no }}</td>
                                    <td data-label="Row">{{ cat.row_no }}</td>
                                    <td data-label="Quantity">{{ count }}</td>
                                    <form method="post" name="delete"
                                          action="{% url 'App_main:delete-location' pk=cat.id %}"
                                          style="margin-left: 100px!important;">
                                        {% csrf_token %}
                                        <td data-label="Remove">
                                            <button type="submit" value="Submit" class="neon__button"
                                                    style="color: white; height: 37px!important; width: 100%!important; padding-top: 0!important;">
                                                <i class="fa fa-trash-o" style="font-size:30px; color: white"></i>
                                            </button>
                                        </td>
                                    </form>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>


        </div>
    </article>


{% endblock %}